<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a096bc">  <td>21/12/05 23:10:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Wibu_Test06.contentUploadTest()[pri:0, instance:tests.Wibu_Test06@69eb86b4]">contentUploadTest</td> 
  <td>main@92864491</td>   <td></td> </tr>
<tr bgcolor="7eb365">  <td>21/12/05 23:10:24</td>   <td>-9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseRapor.setUpMethod()[pri:0, instance:tests.Wibu_Test06@69eb86b4]">&gt;&gt;setUpMethod</td> 
<td>&nbsp;</td>  <td>main@92864491</td>   <td></td> </tr>
<tr bgcolor="7eb365">  <td>21/12/05 23:10:24</td>   <td>-273</td> <td>&nbsp;</td><td title="&gt;&gt;TestBaseRapor.setUpTest()[pri:0, instance:tests.Wibu_Test06@69eb86b4]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@92864491</td>   <td></td> </tr>
<tr bgcolor="7eb365">  <td>21/12/05 23:10:33</td>   <td>8495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseRapor.tearDownMethod(org.testng.ITestResult)[pri:0, instance:tests.Wibu_Test06@69eb86b4]">&lt;&lt;tearDownMethod</td> 
<td>&nbsp;</td>  <td>main@92864491</td>   <td></td> </tr>
<tr bgcolor="7eb365">  <td>21/12/05 23:10:33</td>   <td>8500</td> <td>&nbsp;</td><td title="&lt;&lt;TestBaseRapor.tearDownTest()[pri:0, instance:tests.Wibu_Test06@69eb86b4]">&lt;&lt;tearDownTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@92864491</td>   <td></td> </tr>
</table>
